*{
    padding: 0 ;
    margin: 0;
    color: aliceblue;
    box-sizing: border-box;
}


body{
    background-color: black;

}




#contenedor{

    background-color: azure;
    margin: 50px auto;
    width: 26%;
    border: solid 2px black;
    padding: 15px;
}

form{
    border: black solid 2px;
    display: flex;
    flex-flow: column nowrap;
    background-color: antiquewhite;
    width: 20%;
    margin-top: 250px;
    margin: auto;
    padding: 30px;
    margin-bottom: 2%;

}


#integrantes{
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    padding: 30px;
    width: 20%;
    border: black 1px dashed;
}

.titulos{

    text-align: center;
    color: brown;
    font-family: monospace;
    margin-bottom: 2%;
    

}


.textos{

    font-family: monospace;
}

#contenedorIntroduccion{

    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#integrantes ul li {
    color: black;
}

#contenedor a{
    color: black;
}


#formulario label{
    color: black;
}





